---
swagger: "2.0"
info:
  description: "The Word Associations Network API allows developers to embed the ability\
    \ to find associations for a word or phrase into their mobile apps or web services.\
    \ Words are grouped by semantics, meaning, and psychological perception. The Word\
    \ Associations Network API currently supports English, French, Spanish, German,\
    \ Italian, Portuguese, and Russian vocabulary. Please [register and subscribe](https://api.wordassociations.net/subscriptions/)\
    \ to one of available tariff plans to get a valid API key."
  version: "1.0"
  title: "Word Associations API"
  termsOfService: "https://wordassociations.net/en/api"
  contact:
    email: "contact@wordassociations.net"
host: "api.wordassociations.net"
basePath: "/associations/v1.0"
schemes:
- "https"
consumes:
- "application/json"
- "application/x-www-form-urlencoded"
produces:
- "application/json"
- "application/x-www-form-urlencoded"
security:
- internalApiKey: []
paths:
  /json/search:
    get:
      description: "Gets associations with the given word or phrase.\n"
      produces:
      - "application/json"
      parameters:
      - name: "text"
        in: "query"
        required: true
        type: "array"
        description: "Word or phrase to find associations with.\nTip. You can use\
          \ multiple parameters 'text' in a request (from 1 to 10 inclusive). This\
          \ way you can get associations for several input words or phrases in one\
          \ response.\nRestriction: regardless of the size of the text association\
          \ lookup is always performed by the first 10 words of the text.\n"
        items:
          type: "string"
      - name: "lang"
        in: "query"
        required: true
        type: "string"
        description: "Query language. Use language code for the language of the text:\n\
          * de - German;\n* en - English;\n* es - Spanish;\n* fr - French;\n* it -\
          \ Italian;\n* pt - Portuguese;\n* ru - Russian;\n"
        enum:
        - "de"
        - "en"
        - "es"
        - "fr"
        - "it"
        - "pt"
        - "ru"
      - name: "type"
        in: "query"
        required: false
        type: "string"
        description: "Type of result.\nPossible values: \n* stimulus - an input data\
          \ (the text parameter) is considered as a response word. The service returns\
          \ a list of stimuli words, which evoke a given response word;\n* response\
          \ - an input data (the text parameter) is considered as a stimulus word.\
          \ The service returns a list of response words, which come to mind for a\
          \ given stimulus word.\n"
        default: "stimulus"
        enum:
        - "stimulus"
        - "response"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        description: "Maximum number of results to return.\nAllows to limit the number\
          \ of results (associations) in response.\nThe value of this parameter is\
          \ an integer number from 1 to 300 inclusive.\n"
        default: 50
        minimum: 1
        maximum: 300
      - name: "pos"
        in: "query"
        required: false
        type: "array"
        description: "Parts of speech to return.\nAllows to limit results by specified\
          \ parts of speech. The value of this parameter is a list of parts of speech\
          \ separated by comma.\nThe following parts of speech codes are supported:\n\
          * noun\n* adjective\n* verb\n* adverb\n"
        items:
          type: "string"
          enum:
          - "noun"
          - "adjective"
          - "verb"
          - "adverb"
      - name: "indent"
        in: "query"
        required: false
        type: "string"
        description: "Indentation switch for pretty printing of JSON response.\nAllows\
          \ to either turn on or off space indentation for a response.\nThe following\
          \ values are allowed:\n* yes - turns indentation with spaces on;\n* no -\
          \ turn indentation with spaces off;\n"
        default: "yes"
        enum:
        - "yes"
        - "no"
      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/Body"
        401:
          description: "Invalid API key"
        429:
          description: "The monthly limit on the number of requests is exceeded"
        501:
          description: "The specified language is not supported"
    post:
      description: "Gets associations with the given word or phrase.\n"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "text"
        in: "formData"
        required: true
        type: "array"
        description: "Word or phrase to find associations with.\nTip. You can use\
          \ multiple parameters 'text' in a request (from 1 to 10 inclusive). This\
          \ way you can get associations for several input words or phrases in one\
          \ response.\nRestriction: regardless of the size of the text association\
          \ lookup is always performed by the first 10 words of the text.\n"
        items:
          type: "string"
      - name: "lang"
        in: "formData"
        required: true
        type: "string"
        description: "Query language. Use language code for the language of the text:\n\
          * de - German;\n* en - English;\n* es - Spanish;\n* fr - French;\n* it -\
          \ Italian;\n* pt - Portuguese;\n* ru - Russian;\n"
        enum:
        - "de"
        - "en"
        - "es"
        - "fr"
        - "it"
        - "pt"
        - "ru"
      - name: "type"
        in: "formData"
        required: false
        type: "string"
        description: "Type of result.\nPossible values: \n* stimulus - an input data\
          \ (the text parameter) is considered as a response word. The service returns\
          \ a list of stimuli words, which evoke a given response word;\n* response\
          \ - an input data (the text parameter) is considered as a stimulus word.\
          \ The service returns a list of response words, which come to mind for a\
          \ given stimulus word.\n"
        default: "stimulus"
        enum:
        - "stimulus"
        - "response"
      - name: "limit"
        in: "formData"
        required: false
        type: "integer"
        description: "Maximum number of results to return.\nAllows to limit the number\
          \ of results (associations) in response.\nThe value of this parameter is\
          \ an integer number from 1 to 300 inclusive.\n"
        default: 50
        minimum: 1
        maximum: 300
      - name: "pos"
        in: "formData"
        required: false
        type: "array"
        description: "Parts of speech to return.\nAllows to limit results by specified\
          \ parts of speech. The value of this parameter is a list of parts of speech\
          \ separated by comma.\nThe following parts of speech codes are supported:\n\
          * noun\n* adjective\n* verb\n* adverb\n"
        items:
          type: "string"
          enum:
          - "noun"
          - "adjective"
          - "verb"
          - "adverb"
      - name: "indent"
        in: "formData"
        required: false
        type: "string"
        description: "Indentation switch for pretty printing of JSON response.\nAllows\
          \ to either turn on or off space indentation for a response.\nThe following\
          \ values are allowed:\n* yes - turns indentation with spaces on;\n* no -\
          \ turn indentation with spaces off;\n"
        default: "yes"
        enum:
        - "yes"
        - "no"
      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/Body"
        401:
          description: "Invalid API key"
        429:
          description: "The monthly limit on the number of requests is exceeded"
        501:
          description: "The specified language is not supported"
securityDefinitions:
  internalApiKey:
    description: "API key. Please register and subscribe to one of available tariff\
      \ plans to get a valid API key https://api.wordassociations.net/subscriptions/."
    type: "apiKey"
    name: "apikey"
    in: "query"
definitions:
  Body:
    type: "object"
    properties:
      version:
        type: "string"
      code:
        type: "integer"
        format: "int32"
      request:
        $ref: "#/definitions/Request"
      response:
        type: "array"
        items:
          $ref: "#/definitions/Response"
  Request:
    type: "object"
    properties:
      text:
        type: "array"
        items:
          type: "string"
      lang:
        type: "string"
      type:
        type: "string"
      limit:
        type: "integer"
      pos:
        type: "string"
      indent:
        type: "string"
  Response:
    type: "object"
    properties:
      text:
        type: "string"
      items:
        type: "array"
        items:
          $ref: "#/definitions/Item"
  Item:
    type: "object"
    properties:
      item:
        type: "string"
      weight:
        type: "number"
      pos:
        type: "string"
